# Node
node_modules/
.next/
out/
dist/
.pnp
.pnp.js

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Build
.turbo/
.vercel/

# Supabase
supabase/.branches
supabase/.temp

# Tools
.superpowers/
.docs/superpowers/

# Aditional
lifeos.drawio
.env